<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>SimpleChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/handlebars-v2.0.0.js"></script>
        <script src="js/vendor/Please.js"></script>
        <script src="js/vendor/socket.io-1.1.0.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>SimpleChat</h1>
            </header>
            <div class="chat-wrap row">
                <div class="chat-log col-lg-6">

                </div>
                <div class="chat-control col-lg-6">
                    <label for="username">Username:
                        <input type="text" name="username" id="username" class="form-control">
                        <button id="set-username" class="btn btn-default">Save Username</button>
                    </label>
                    <form id="message-form">
                        <input type="text" id="message" class="form-control">
                        <input type="submit" class="btn btn-default" value="Send">
                    </form>
                </div>
            </div>
        </div>

        <script id="message-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: {{{ color }}}">
                <h3 class="panel-title">{{ username }}</h3>
            </div>
            <div class="panel-body">
            {{ message }}
            </div>
        </div>
        </script>
        <script src="js/script.js"></script>
    </body>
</html>
